*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.nav-1{
    background-color: black;
}

.per-c:hover{
    font-size: 15px;
}


.d-block {
    height: 70vh;
}

.event{
    background-color: black;
    padding: 50px;
    
}
.calabar{
    background-image: url(medias/Calabar-Carnival-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    padding: 50px;
    border-radius: 10px;
}

.pack{
    border:1px solid black;
}

.event-card{
    height: 45vh;
}

